@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tree View Application</h1>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Welcome to Tree View Application</h2>
        <p>
            Tree View Application was created
            for Ideo recruitment.
        </p>
    </div>
</div>